<div class="container" id="details">

  <div class="row">
    <div  class="details col-lg-6 col-md-6 col-sm-6 col-xs-12" #recipe>
      <img [src]="recipeDetail.imageUrl" class="img-responsive img-rounded" style="max-width:300px; max-height:300px;">
       <h4>{{recipeDetail.name}}</h4>
       <h4>{{recipeDetail.description}}</h4>
       <small>Ingredients :
        <ul >
          <li *ngFor="let ingredient of recipeDetail.ingredient">
            {{ingredient.name}}({{ingredient.amount}})
          </li>
        </ul>
       </small>
       

       <div>
          <button axis-button data-kind="primary" (click)="buy()">Buy</button>
          <button axis-button data-kind="primary" (click)="removeRecipe()">Remove</button>
         <!-- <button type="button" class="btn btn-primary" (click)="editRecipe()">Edit</button> -->
       </div>
     
    </div>

  </div>
  </div>