<div class=" container  row">
  <div class="col-md-4">
    <app-edit-shopping-list (newIngredient)="addNewIngredient($event)"></app-edit-shopping-list>
  </div>
</div>
<hr />
<div class="container  row">
  <div class="col-xs-6">
    <a role="button" class="thumbnail clearfix" *ngFor="let ingredient of ingredients;let i" (click)="onSelect(ingredient)">

      <div class="container pull-left">
        <h4>{{ingredient.name}}
        </h4>
        <p>{{ingredient.amount}}</p>
      </div>


    </a>
  </div>

  <div class="container col-xs-6" *ngIf="selectedIngredient">

    <h2>{{selectedIngredient.name | uppercase}}</h2>
    <div class="form">
      <form name="editForm">
        <div class="form-group">
          <label for="name">Name: </label>
          <input [value]="selectedIngredient.name" type="text" class="name form-control input-sm" name="name" id="name" size="25" />
        </div>

        <div class="form-group">
          <label for="amount">Amount: </label>
          <input [value]="selectedIngredient.amount" type="text" class="amount form-control input-sm" name="amount" id="amount" />
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="applyChanges()">Apply Changes</button>
          <button type="button" class="btn btn-delete" (click)="deleteIngredient(selectedIngredient)"> Delete </button>
        </div>
      </form>
    </div>
  </div>
</div>