<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <button type="button" class="btn btn-success" (click)="createNewRecipe()">New recipe <span
          class="glyphicon glyphicon-plus"></span></button>
<!-- 
      <div class="container row" id="newRecipe" class="collapse">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form">

            <form (submit)="addRecipe($event)" name="addRecipe">
              <h4>Add new Recipe</h4>

              <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="name form-control" id="name" #nameRecipe />
              </div>

              <div class="form-group">
                <label for="amount">Description: </label>
                <input type="text" class="desc form-control" id="desc" />
              </div>

              <div class="form-group">
                <label for="amount">Image URL: </label>
                <input type="text" class="img form-control" id="img" />
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success">Add</button>
              </div>

            </form>
          </div>
        </div>
      </div> -->

    </div>
  </div>

  

  <div class="row" style="margin-top:20px;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
      <app-recipe-item *ngFor="let recipe of recipes;let i = index" [index]="i" [recipeItem]="recipe"></app-recipe-item>
    </div>
    
  </div>
</div>