<div class="container row">
  <div class="axis-col-md-6 axis-col-sm-6 axis-col-xs-12" >
    <div class="form">
    
      <form [formGroup]="addIngredientFrm" (submit)="addIngredient($event)" >
        <div class="axis-form-group">
          <label for="name" class="axis-control-label">Name<span class="axis-required-indicator">*</span></label>
          <input class="axis-form-control" type="text" formControlName="name" #name axis-input-clear> 
          <span *ngIf="addIngredientFrm.get('name').hasError('required')"><span class="axis-required-indicator">Please enter name.</span></span>
          <span *ngIf="addIngredientFrm.get('name').hasError('pattern')"><span class="axis-required-indicator">Special characters are not allowed.</span></span>
        </div>

        <div class="axis-form-group">
          <label for="amount" class="axis-control-label">Amount<span class="axis-required-indicator">*</span></label>
          <input class="axis-form-control" type="text" formControlName="amount" #amount axis-input-clear> 
          <span *ngIf="addIngredientFrm.get('amount').hasError('required')"><span class="axis-required-indicator">Please enter amount.</span></span>
          <span *ngIf="addIngredientFrm.get('amount').hasError('pattern')"><span class="axis-required-indicator">Negative value not allowed.</span></span>
        </div>

        <div class="axis-form-group">
          <input type="submit" axis-button data-kind="primary" [disabled]="!addIngredientFrm.valid" value="Add"/>
          <button axis-button data-kind="primary" [disabled]='!addIngredientFrm.valid' (click)="reset()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>

